.header {
    padding: 20px;
    background: #022439;
    color: aliceblue;
  }
  
  #MJPRU {
    display: flex;
    justify-content: flex-end;
    color: whitesmoke;
    font-size: x-large;
  }
  
  /* Responsive Styling */
  @media screen and (max-width: 768px) {
    .header {
      padding: 10px;
      text-align: center;
    }
  
    #MJPRU {
      justify-content: center;
      font-size: large;
    }
  }
  
  @media screen and (max-width: 480px) {
    .header {
      padding: 5px;
    }
  }
  