#heading{
  margin-top: 3%;
  font-size: 50px;
  text-decoration: underline;
  background: -webkit-linear-gradient(rgb(129, 129, 13), #022439);
	-webkit-background-clip: text;
  background-clip:calc();
	-webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
  /* text-underline-position: under; */
  /* text-orientation: upright; */
  /* writing-mode: vertical-lr; */
  /* text-align: center; */
  /* align-items: center; */
}
.container-1 p{
  font-size: x-large;
  background: -webkit-linear-gradient(rgb(125, 35, 7), #0c0239);
	-webkit-background-clip: text;
  background-clip:calc();
	-webkit-text-fill-color: transparent;
}

.container {
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
}

.container .box {
  width: 100%;
  max-width: 275px;
  height: 275px;
  transition: 0.5s;
  border-style: solid;
  border-color: #022439;
  border-radius: 40px;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 45px;
}

@media screen and (min-width: 768px) {
  .container .box {
    max-width: 350px;
  }
}

.container:hover .box {
  transform: rotateY(25deg);
}

.container .box:hover~.box {
  transform: rotateY(-25deg);
}

.container .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container .box .imgBx:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #f00, #000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}

.container .box:hover .imgBx:before {
  opacity: 1;
}

.container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}

.container .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}

.container .box:hover .content h2 {
  transform: translateY(0px);
}

.container .box .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}

.container .box:hover .content p {
  transform: translateY(0px);
}


/* .startButton {
  background: #022439;
  margin-top: 50px;
  border-style: solid;
  border-top-color: white;
} */

.strbtn{
  display: flex;
  justify-content: center;
  
}

#startButton {
  /* margin-top: 100px; */
  /* margin-bottom: 50px; */
  font-size: larger;
  background-color: #022439;
  color: white;
  border-style: solid;
  border-color: black;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}